body {
    background-image: url("/graphics/backgrounds/b.jpg");
    backdrop-filter: blur(5px);
    min-height: 100vh;  /* set body height minimum 100% to fix footer at the bottom if content is less also */
}

h1 { color: white; }

#description { height: 180px; }

#markdown { height: 135px; }

#description, #markdown {
    overflow: scroll;
    overflow-x: hidden;
}

#description::-webkit-scrollbar, #markdown::-webkit-scrollbar {
    width: 8.5px;
}

#description::-webkit-scrollbar-corner, #markdown::-webkit-scrollbar-corner {
    background: transparent;
}

.form-group label {
    color: black;
    text-shadow:
    0 0 5px silver;
    font-size: 13px;
    font-weight: 600;
}

.form-control, .form-control:focus {
    background: transparent;
    border: 2px solid rgb(46, 140, 177);
    color:  white;
}

.form-control:focus {
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.432);
}

