<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <title>♣</title> -->
    <title>Powered by 🌌</title>
    <!-- <title>☺☻</title>
    <title>♠♣◘•◘○</title>
    <title>♠♣◘•</title>
    <title>♠♣</title> -->
</head>
<!-- <body background="/graphics/backgrounds/giphy.gif"> -->
    <!-- <img src="/graphics/backgrounds/giphy.gif" width="100%" height="100%"> -->
    <!-- <p><font color="white"></font>🖤</font></p> -->
</body>
</html>

