<div class="footer">
    <label>Copyright &copy; 2021 <a href="https://github.com/cod-lab/devTrek" target="_blank" class="sub-brand">devTrek</a>. All Rights Reserved.</label>
    <br>
    <label><em>developed in MERN stack by <a href="https://github.com/cod-lab" target="_blank">cod-lab</a></em></label>
    <br>
    <label class="mt-1 mb-0">
        <a href="/powered-by" target="_blank" class="brand">
            <p class="d-inline">Powered by</p>
            <img src="/graphics/logos/orange-ballon.png" />
            <span>Orange Ballon</span>
        </a>
    </label>
</div>

