<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/powered-by.css" type="text/css"/>

    <title>Powered by 🌌</title>
</head>
<body>
    <div id="particles-background" class="vertical-centered-box"></div>
    <div id="particles-foreground" class="vertical-centered-box"></div>

    <div class="vertical-centered-box">
        <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask">
                <div class="loader-line"></div>
            </div>
            <img src="/graphics/logos/orange-ballon1.png" />
        </div>

        <center><p>Something is coming..!</p></center>
    </div>
    <script src="/scripts/powered-by.js"></script>
</body>
</html>

