<div class="footer">
    <label>Copyright <em>&copy;</em> 2021 <b>devTalks</b>. All Rights Reserved.</label>
    <br>
    <label><em>developed in Express JS by <a href="https://github.com/cod-lab" target="_blank">cod-lab</a></em></label>
    <br>
    <!-- <p class="mt-2 mb-0">Powered by <img src="/images/logos/orange-ballon.png" alt="Orange Ballon"></p> -->
    <!-- <label class="mt-1 mb-0">Powered by <img src="/images/logos/orange-ballon.png" title="Orange Ballon"></label> -->
    <label class="mt-1 mb-0">Powered by
        <img src="/images/logos/orange-ballon.png" />
        <span>Orange Ballon</span>
    </label>
    <!-- <br><br> -->
    <!-- <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col text-left">
                <label>Copyright <em>&copy;</em> 2021 <b>devTalks</b>. All Rights Reserved.</label>
            </div>
            <div class="col text-right">
                <label><em>developed in MERN stack by <a href="https://github.com/cod-lab" target="_blank">cod-lab</a></em></label>
            </div>
        </div>
    </div> -->
</div>
<!-- </p><p class="mb-2">  -->

