body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "proxima-nova-soft", sans-serif;
    -webkit-user-select: none;
    overflow: hidden;
    /* line-height: 50vh; */
  }
  body .vertical-centered-box {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    height: 60%;
    text-align: center;
    /* z-index: -1; */
  }
  body .vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* z-index: -1; */
  }
  body .vertical-centered-box .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
    /* z-index: -1; */
  }
  * {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  body {
    background: #2c2d44;
    /* z-index: -1; */
  }
  .loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
    margin-top: -60px;
  }
  .loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    -webkit-transform-origin: 60px 60px;
    -moz-transform-origin: 60px 60px;
    -ms-transform-origin: 60px 60px;
    -o-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1.2s infinite linear;
    -moz-animation: rotate 1.2s infinite linear;
    -o-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
  }
  .loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  }
  #particles-background,
  #particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
    -o-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
    /* z-index: -1; */
  }
  #particles-background {
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
    /* z-index: -1; */
  }
  lesshat-selector {
    -lh-property: 0; }
  @-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
  @-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
  @-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
  @keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
  [not-existing] {
    zoom: 1;
  }
  lesshat-selector {
    -lh-property: 0; }
  @-webkit-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @-moz-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @-o-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  [not-existing] {
    zoom: 1;
  }
  lesshat-selector {
    -lh-property: 0; }
  @-webkit-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @-moz-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @-o-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  [not-existing] {
    zoom: 1;
  }

/* .msg { */
    /* text-align: center; */
   /* animation */
   /* animation: type 5s steps(23) infinite;
   overflow: hidden;
   white-space: nowrap; */
   /* float: center; */
/* } */
p {
  color: white;
  /* line-height: 115vh; */
  line-height: 50vh;
  /* z-index: -1; */
  /* left: 50%; */
  font-weight: bold;
  /* font-family: cascadia code; */
  font-family: '1942 report';
  /* font-family: 'Trixie-Text'; */
  /* font-family: 'recursive mono linear light lta'; */
  /* font-family: recursive mono; */
  font-size: 45px;
  /* vertical-align: bottom; */
  /* margin-top: 60vh; */
  /* height: 100%; */
  text-transform: uppercase;
  /* text-align: center; */
  /* float: center; */
  /* display: none; */
  visibility: hidden;

  /* animation */
  /* animation: typeText 4s steps(23) infinite;
  overflow: hidden;
  white-space: nowrap; */
  /* animation: typeText 4.5s steps(23), blinkText 0.9s 5s linear infinite;
  overflow: hidden;
  white-space: nowrap; */
  animation:
    typeText 4s 0.15s steps(23),
    blinkText 0.9s 4.15s linear infinite;  /* name duration delay timing-function iteration-count */
  overflow: hidden;
  white-space: nowrap;
  /* animation-delay: -1s; */
}
@keyframes typeText {
  /* visibility: visible; */
  0% {
    width: 0ch;
    /* display: inline; */
    visibility: visible;
  }
    /* 75% { width: 23ch; } */
  100% {
    width: 23ch;
    /* display: inline; */
    /* visibility: visible; */
  }
    /* 100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    } */
    /* 50%, 100% {
        width: 0;
      } */
}
@keyframes blinkText {
  50% {
    opacity: 0;
    /* display: inline; */
    visibility: visible;
  }
}
/* p::after {
    content: '';
} */
/* svg { */
    /* line-height: 100vh; */
    /* line-height: 100%; */
    /* margin-top: 28.5vh; */
    /* position: absolute; */
    /* bottom: 50%; */
    /* width: 120px; */
    /* height: 120px; */
    /* top: 50% */
/* } */

img {
  height: 40px;
  width: 40px;
  /* filter: invert(1) grayscale(1); */
  /* filter: invert(1) grayscale(1) sepia(1); */
  /* filter: grayscale(1) saturate(1) sepia(1) contrast(0.3); */
  /* filter:grayscale(1); */
  /* filter:saturate(8); */
  /* filter:sepia(100%); */
  margin-top: 27.6vh;
  /* line-height: 200vh; */
}

