body {
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.createdAt span,
.likeBtn span,
h5 span,
#md span,
.footer label span {
  display: none;
  background-color: #404040;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  animation: hidetooltiptext 0s 2s forwards;
}

/* for arrow with the span box */
.createdAt span::after,
h5 span::after,
#like2 span::after,    /* for pg show.ejs*/
#md span::after,
.footer label span::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.createdAt span::after,
#like2 span::after,
.footer label span::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent #404040 transparent transparent;
}

.createdAt:hover span,
.likeBtn:hover span,
h5:hover span,
#md:hover span,
.footer label:hover span {
  display: inline;
}

.likeBtn:active span {  display: none; }

@keyframes hidetooltiptext {
  to { visibility: hidden; }
}

