.footer {
    text-align: center;
    border: 1px solid white;
    background-color: #DCDCDC;
    color: black;
    padding: 25px;
    margin-top: auto;
}

.footer label { font-size: 13px; }

.sub-brand {
    color: black;
    font-weight: bold;
}

.sub-brand:hover {
    text-decoration: none;
    color: #585858;
}

.sub-brand:active {
    color: black;
}

.brand { color: black; }

.brand:hover { text-decoration: none; }

.brand:hover p {
    color: black;
    text-decoration: underline;
}

img {
    height: 20px;
    width: 20px;
}

.footer label span {
    width: 80px;
    left: 54%;
}

