body {
    background-image: url("/graphics/backgrounds/b.jpg");
    backdrop-filter: blur(5px);
    min-height: 100vh;  /* set body height minimum 100% to fix footer at the bottom if content is less also */
}

h1 {
    color: white;
    text-align: center;
}

#description { height: 180px; }

#markdown { height: 135px; }

#description, #markdown {
    overflow: scroll;
    overflow-x: hidden;
}

#description::-webkit-scrollbar, #markdown::-webkit-scrollbar {
    width: 8.5px;
}

#description::-webkit-scrollbar-corner, #markdown::-webkit-scrollbar-corner {
    background: transparent;
}

.form-group label {
    color: black;
    font-size: 13px;
    font-weight: 600;
    border-radius: 7px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background: linear-gradient(to right, #f12711, #f5af19);
    filter: contrast(80%);
}

.form-control, .form-control:focus {
    background: transparent;
    border: 2px solid #343a40;
    color:  white;
}

.form-control:focus {
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.432);
}

.form-group { position: relative; }
#name-err, #title-err, #desc-err, #md-err {
    display: none;
    font-size: 10px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-style: italic;
    padding-right: 12px;
    padding-left: 9px;
    padding-bottom: 2px;
    letter-spacing: 2px;
    background: brown;
    margin-top: 1.45%;
    right: 2%;
    position: absolute;
}

.form-btns {
    width: fit-content;
    float: right;
}

