.blink { animation: blinker 0.7s linear infinite; }
@keyframes blinker {
    50% { opacity: 0; }
}

body {
    background-image: url("/graphics/backgrounds/g.jpg");
    height: 100vh;  /* set body height 100% to fix footer at the bottom if content is less also */
}

#head { padding-top: 2em; }

.new {
    border: 2px solid black;
    color: black;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.new:hover {
    color: black;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
}

/* .new:active, .new:visited { color: white; } */
.new:active { color: white; }

.card.mt-4 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    opacity: 0.93;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;  /* 8th line is text overflowed */ /* also height will be max to 8 lines */
    -webkit-box-orient: vertical;
}

.mt-2 {
    line-height: 1.7;
}

.col.text-right label {
    font-size: 13px;
    margin: 3px;
    font-weight: bold;
}

.editor { font-style: italic; }

.likeBtn {
    color: darkgray;
    font-size: 17px;
    vertical-align: bottom;
}

.likeBtn:hover {
    color: #ffa600;
    text-decoration: none;
    text-shadow: 1px 1px 3px #ffa600;
}

.likeBtn:active { font-size: 18px; }

.createdAt span {
    width: 60px;
    left: 9.3%;
}

.likeBtn span {
    width: 32px;
    top: -21px;
}

.createdAt { width: fit-content; }

